* {
  padding: 0;
  margin: 0;
  font-family: 'MetropolisNF', sans-serif;
}

/* Navbar */
.navbar {
  box-shadow: 1px 1px 10px 1px rgb(177, 177, 177);
}
.nav-content{
  margin: 10px auto 10px auto;
}
.navbar-brand {
  position: relative;
  top: 0;
  bottom: 0;
}
.navbar-brand p {
  position: absolute;
  top: 11px;
  font-size: 24px;
  left: 50px;
  font-weight: 700;
  color: red;
}
.navbar-brand img {
  width: 31px;
}
form {
  margin-left: 200px;
  border-radius: 50px;
  position: relative;
  width: 50%;
  
}
.form-control {
  display: absolute;
  top: 15px;
  width: 100%;
  height: 40px;
  display: block;
  border-radius: 50px ;
  font-size: 16px;
  padding: 8px 40px 8px 20px;
  border: 1px solid gray;
}
input:focus {
  outline: none;
}
.search-btn {
  position: absolute;
  top: 1px;
  right: 15px;
  width: 5%;
  height: 100%;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 18px;
}
.search-btn i {
  font-size: 1em;
  color: gray;
}
.navbar-nav {
}
.filter-btn {
  margin-right: 100px;
  width: 50px;
  border-radius: 10px;
  margin-left: 10px;
  border: 1px solid gray !important;
  background: none !important;
}
.cart-btn {
  width: 50px;
  margin-right: 10px;
}
.login-btn {
  width: 150px;
  margin-right: 10px;
  background-color: #DB3022 !important;
  color: white;
  border-radius: 50px;
}
.sign-btn {
  margin-right: 10px;
  width: 150px;
  border-radius: 50px;
  color: gray;
  background-color: none !important;
  border: 1px solid gray !important;
}

/* End Navbar */


/* Populer */

.populer {
  margin-top: 50px;
  margin-bottom: 50px;
}

.populer .carousel-inner{
  border-radius: 10px;
  height: 200px;
}

/* Category */
.header-category {
  margin-bottom: 50px;
}
.header-category h1 {
  font-weight: bold;
}
.header-category p {
  color: grey;
}
.content-category {
  margin-bottom: 50px;
}
.content-category .row .cat1{
  width: 190px;
  height: 190px;
  background-color: rgb(205, 0, 0);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-category .row .cat1 p{
  position: absolute;
  color: white;
  font-size: 25px;
  font-weight: 700;
}
.content-category .row .cat2{
  width: 190px;
  height: 190px;
  background-color: rgba(4, 85, 207, 0.868);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-category .row .cat2 p{
  position: absolute;
  color: white;
  font-size: 25px;
  font-weight: 700;
}
.content-category .row .cat3{
  width: 190px;
  height: 190px;
  background-color: rgb(253, 156, 11);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-category .row .cat3 p{
  position: absolute;
  color: white;
  font-size: 25px;
  font-weight: 700;
}
.content-category .row .cat4{
  width: 190px;
  height: 190px;
  background-color: rgb(255, 79, 79);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-category .row .cat4 p{
  position: absolute;
  color: white;
  font-size: 25px;
  font-weight: 700;
}
.content-category .row .cat5{
  position: relative;
  width: 190px;
  height: 190px;
  background-color: aqua;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-category .row .cat5 p{
  position: absolute;
  color: white;
  font-size: 25px;
  font-weight: 700;
}
.content-category .row .cat5 a{
  position: absolute;
  z-index: 99;
  right: -25px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-weight: bold;
  line-height: 50px;
  text-decoration: none;
  color: black;
}

/* Products */

.header-products {
  margin-top: 50px;
  margin-bottom: 50px;
}

.header-products h1 {
  font-weight: bold;
}
.header-products p {
  color: grey;
}

.content-products .card .card-body p{
  font-weight: 400;
  font-size: 20px;
}
.content-products .card .card-body .price{
  margin-top: -10px;
  font-weight: 500;
  font-size: 20px;
  color: red;
}
.content-products .card .card-body .detail{
  margin-top: -10px;
  font-weight: lighter;
  font-size: 16px;
  color: grey;
}



































@media only screen and (max-width: 1200px) and (min-width: 994px) {

}

@media only screen and (max-width: 1400px) {

}

@media only screen and (max-width: 992px) {
  form {
    margin-top: 20px;
    width: 100%;
    z-index: 99;
    left: -200px;
  }
  .filter-btn {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .cart-btn {
    width: 100%;
    margin-right: 10px;
  }
  .login-btn {
    width: 100%;
  }
  .sign-btn {
    width: 100%;
  }
  
}

